body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f252a;
  color: #e5e7eb;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}
nav a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
color: #ffffff;
}
#hero {
    min-height: 60vh;
    align-items: center;
    display:flex;
    padding: 0 60px;
    gap: 300px;
}
#hero-detail{
    line-height: 2.1;
    font-size: x-large;
}
#hero-detail h3 b{
    color: #d5d0f6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hero h1{
    font-size: 50px;
    margin: 10px 0;
    color: #38bdf8;
}

#hero p{
    font-size: 15px;
    color: #cbd5e1;
    max-width: 400px;
}
#hero button {
  padding: 12px 24px;
  background-color: transparent;
  border: 0 solid cyan;
  color: cyan;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms;
  border-radius: 5px;
}
#hero button:hover {
  background-color: cyan;
  color: rgb(0, 0, 0) !important;
}
#about 
{
    border-bottom:2px solid #27779a;
    box-shadow: 0 0 12px rgba(7, 114, 157, 0.5);
    
    max-width: 1000px;
    padding: 30px 60px;
    
}
#skills
{
    max-width: 1000px;
    padding: 30px 60px;
     border-bottom:2px solid #27779a;
    box-shadow: 0 0 12px rgba(7, 114, 157, 0.5);
}
#projects
{
    max-width: 1000px;
    padding: 30px 60px;
     border-bottom:2px solid #27779a;
    box-shadow: 0 0 12px rgba(7, 114, 157, 0.5);
}
#Contact
{
    max-width: 1000px;
    padding: 30px 60px;
    border-bottom:2px solid #27779a;
    box-shadow: 0 0 12px rgba(7, 114, 157, 0.5);
}
#Learning 
{
    max-width: 1000px;
    padding: 30px 60px;
     border-bottom:2px solid #27779a;
    box-shadow: 0 0 12px rgba(7, 114, 157, 0.5);
}
#about h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    color: rgb(223, 223, 234);
}
#skills h2{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
     color: rgb(223, 223, 234);

}
#projects h2 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
     color: rgb(223, 223, 234);

}
#contact h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
     color: rgb(223, 223, 234);
}
#Learning h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
     color: rgb(223, 223, 234);
}
.secp {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    line-height: 1.5;
    color: rgb(208, 231, 199);
}
.light-mode {
  background-color: #81cae9;
}

.light-mode nav a,
.light-mode nav h2 {
  color: #0f252a;
}

.light-mode #hero h1 {
  color: #0f252a;
}

.light-mode #hero p {
  color: #0f252a;
}

.light-mode #hero button {
  color: #0f252a;
  border: 1px solid #0f252a;
}

.light-mode #about h2,
.light-mode #skills h2,
.light-mode #projects h2,
.light-mode #contact h2,
.light-mode #Learning h2 {
  color: #0f252a;
}

.light-mode .secp,
.light-mode li {
  color: #0f252a;
}